<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-02">
      </button>
      <a href="#fakelink" class="brand">PMS - <i>Polarion Master System</i></a>
      <div class="nav-collapse collapse" id="nav-collapse-02">

        <ul class="nav pull-right">
          <li class="active">
            <a href="#fakelink">
              <span class="fui-calendar"></span><span class="hidden-desktop">New Request</span>
            </a>
          </li>
          <li>
            <a href="#fakelink">
              <span class="fui-document"></span><span class="hidden-desktop">Statistics</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fui-gear"></span><span class="hidden-desktop">Settings</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#fakelink">Settings</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul> <!-- /nav -->
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>